---
import Beer from "./Beer.astro";
import BeerCategory from "./BeerCategory.astro";

const { name } = Astro.props;

const beerCats = [
  {
    category: "House Lager",
    beers: [
      {
        name: "Hofmeister Helles",
        brewery: "Hofmeister",
        strength: 5.0,
        pricePint: 5.9,
        priceHalf: 2.95,
        style: "Lager - Helles",
        location: "Markt Schwaben, Bayern",
        image: "https://labels.untappd.com/1796119",
      },
      {
        name: "Hockley Helles",
        brewery: "Hockley BrewCo",
        strength: 4.0,
        pricePint: 5.5,
        priceHalf: 2.75,
        style: "Lager - Helles",
        location: "Nottingham, City of Nottingham",
        image: "https://labels.untappd.com/4288572",
      },
    ],
  },
  {
    category: "House Stout",
    beers: [
      {
        name: "Brennan's Irish Stout",
        brewery: "Brennan's",
        strength: 4.2,
        pricePint: 5.85,
        priceHalf: 2.9,
        style: "Stout - Irish Dry",
        location: "",
        image: "https://labels.untappd.com/4275771",
      },
    ],
  },
  {
    category: "Craft Ciders",
    beers: [
      {
        name: "Napton Cider",
        brewery: "Napton Cider",
        strength: 4.6,
        pricePint: 5.6,
        priceHalf: 2.8,
        style: "Cider - Dry",
        location: "Southam, Warwickshire",
        image: "https://labels.untappd.com/3940458",
      },
      {
        name: "Medicinal Compound",
        brewery: "The Bottle Kicking Cider",
        strength: 4.8,
        pricePint: 5.6,
        priceHalf: 2.8,
        style: "Cider - Traditional / Apfelwein",
        location: "Leicester, Leicestershire",
        image: "https://labels.untappd.com/3628835",
      },
      {
        name: "Fruits Cider",
        brewery: "The Bottle Kicking Cider",
        strength: 4.0,
        pricePint: 5.6,
        priceHalf: 2.8,
        style: "Cider - Traditional / Apfelwein",
        location: "Leicester, Leicestershire",
        image: "https://labels.untappd.com/2253724",
      },
    ],
  },
  {
    category: "Craft Beers",
    beers: [
      {
        name: "Inception (Similar to Neck Oil)",
        brewery: "Beartown",
        strength: 4.4,
        priceThird: 2.5,
        priceTwoThirds: 4.8,
        pricePint: 6.75,
        style: "IPA - Session",
        location: "Congleton, Cheshire East",
        image: "https://labels.untappd.com/4880732",
      },
      {
        name: "Iron Brew Raspberry Ripple",
        brewery: "Vault City",
        strength: 5.0,
        priceThird: 3.25,
        priceTwoThirds: 6.0,
        pricePint: 9.0,
        style: "Sour - Smoothie / Pastry",
        location: "Edinburgh, Edinburgh",
        image: "https://labels.untappd.com/6121130",
      },
      {
        name: "Neon Jungle",
        brewery: "Gweilo Beer",
        strength: 5.5,
        priceThird: 3.5,
        priceTwoThirds: 6.5,
        pricePint: 9.25,
        style: "IPA - New England / Hazy",
        location: "Hong Kong Island, Hong Kong Island",
        image: "https://labels.untappd.com/5801184",
      },
      {
        name: "Fairytale of Brew York (2024)",
        brewery: "Brew York",
        strength: 4.9,
        priceThird: 3.0,
        priceTwoThirds: 5.8,
        pricePint: 8.25,
        style: "Stout - Milk / Sweet",
        location: "York, York",
        image: "https://labels.untappd.com/5986820",
      },
      {
        name: "Plum Porter Grand Reserve",
        brewery: "Titanic",
        strength: 6.5,
        priceThird: 3.0,
        priceTwoThirds: 5.8,
        pricePint: 8.25,
        style: "Porter - English",
        location: "Stoke-on-Trent, Stoke-on-Trent",
        image: "https://labels.untappd.com/1821645",
      },
      {
        name: "Caribbean Chocolate Cake: Rocky Road Brownie",
        brewery: "Siren Craft Brew",
        strength: 7.8,
        priceThird: 6.25,
        style: "Stout - Imperial / Double Milk",
        location: "Wokingham, Berkshire",
        image: "https://labels.untappd.com/6042710",
      },
    ],
  },
];
---

<div class="beer-list">
  <div class="col">
    <BeerCategory name="House Lager">
      {
        beerCats[0].beers.map((beer) => (
          <Beer
            name={beer.name}
            brewery={beer.brewery}
            strength={beer.strength}
            pricePint={beer.pricePint}
            priceHalf={beer.priceHalf}
            style={beer.style}
            image={beer.image}
          />
        ))
      }
    </BeerCategory>

    <BeerCategory name="House Stout">
      {
        beerCats[1].beers.map((beer) => (
          <Beer
            name={beer.name}
            brewery={beer.brewery}
            strength={beer.strength}
            pricePint={beer.pricePint}
            priceHalf={beer.priceHalf}
            style={beer.style}
            image={beer.image}
          />
        ))
      }
    </BeerCategory>

    <BeerCategory name="Craft Ciders">
      {
        beerCats[2].beers.map((beer) => (
          <Beer
            name={beer.name}
            brewery={beer.brewery}
            strength={beer.strength}
            pricePint={beer.pricePint}
            priceHalf={beer.priceHalf}
            style={beer.style}
            image={beer.image}
          />
        ))
      }
    </BeerCategory>
  </div>

  <div class="col">
    <BeerCategory name="Craft Beers">
      {
        beerCats[3].beers.map((beer) => (
          <Beer
            name={beer.name}
            brewery={beer.brewery}
            strength={beer.strength}
            priceThird={beer.priceThird}
            priceTwoThirds={beer.priceTwoThirds}
            pricePint={beer.pricePint}
            style={beer.style}
            image={beer.image}
          />
        ))
      }
    </BeerCategory>
  </div>
</div>

<style>
  .beer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
</style>
